//fonts
$font-family: "SegoeUI";

//colors
$color-dark-gray: rgba(36, 40, 47, 1);
$color-gray: rgba(60, 62, 68, 1);
$color-light-gray: rgb(158, 158, 158);
$color-white: rgba(255, 255, 255, 1);
$color-orange: rgb(255, 152, 0, 1);

//breakpoints
$mobile-breakpoint: 570px;
